PORT=8000
MONGODB_URL="xxxxxxxxxxxxxxxxxx"
JWT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxx"   
EMAIL_USER="neelpatel8422@gmail.com"
EMAIL_PASS="xxxxxxxxxxxxxxxxxxxxxxxx"
CLOUDINARY_CLOUD_NAME="xxxxxxxxxxxxxxxxxxx"
CLOUDINARY_API_KEY="xxxxxxxxxxxxxxxxxxx"
CLOUDINARY_API_SECRET="xxxxxxxxxxxxxxxxx"
RAZORPAY_KEY_ID=test       //add your razorpay key id
RAZORPAY_KEY_SECRET=test     // add your razorpay key secret
CLIENT_URL=http://localhost:5173
# CLIENT_URL="https://your-frontend-domain.vercel.app"
# CLIENT_URL="https://elysoria.vercel.app"
# CLIENT_URL_2="https://elysoria-admin.vercel.app"


